html, body, div, h1, ul, li, input, a, span, p{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    direction: rtl;
    background-color: #eceff0;
}
.container{
    background-color: #fff;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 2px;
    box-sizing: content-box;
}
.container .header{
    margin-bottom: 19px;
}
.tasks{
    list-style-type: none;
}
.tasks li, .task-add .input{
    border-bottom: 1px dashed #ccc;
    padding: 25px 0;
}
.tasks .done{
    text-decoration: line-through;
}
.tasks .date{
    margin-top: 20px;
    font-size: 20px;
}
.tasks .done-button{
    text-decoration: none;
    background-color: #d9dfe1;
    color: #363639;
    border-bottom: 15px dashed;
    padding: 3px 6px;
    opacity: 0.4;
}
.task-add .input{
    width: 100%;
}
.task-add .input:focus{
    outline: none;
}
.task-add .submit{
   width: 100%;
   background-color: #fff;
   margin-top: 15px;
   padding: 5px 10px;
   border: 10px solid #ddd;
   box-shadow: 3px 3px 0 #ddd;
}
.error{
    color: rgb(255, 0, 0);
    font-size: 15px;
}